name: Deploy Next.js to Production

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build Next.js project
        run: npm run build

      - name: Prepare Release Folder
        run: |
          rm -rf release
          mkdir release
          cp -r .next release/.next
          cp -r public release/public
          cp -r src release/src
          cp package.json release/
          cp package-lock.json release/
          cp next.config.ts release/
          cp ecosystem.config.js release/
          cp server.js release/
          cp start.sh release/
          chmod +x release/start.sh

      - name: Upload Release to Server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          source: "release/*"
          target: "/home/rojgariindia.com/app"

      - name: Restart PM2 on Server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/rojgariindia.com/app
            npm install --omit=dev
            pm2 restart start.sh --name rojgari-next || pm2 start start.sh --name rojgari-next
            pm2 save
