      - name: Deploy on Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          command_timeout: 15m
          request_pty: true
          script: |
            set -e

            export CI=true
            export NPM_CONFIG_PROGRESS=false
            export NPM_CONFIG_SPIN=false
            export NPM_CONFIG_LOGLEVEL=error

            cd /home/rojgariindia.com/app

            echo ">>> Extracting new release"
            rm -rf .next public
            tar -xzf release.tar.gz
            rm release.tar.gz

            echo ">>> Installing production dependencies"
            npm install --omit=dev --no-progress --silent

            echo ">>> Restarting PM2 app (CI-safe)"
            pm2 restart rojgari-next --update-env || \
            pm2 start start.sh --name rojgari-next --interpreter bash

            pm2 save
