- name: Run Deploy Script
  uses: appleboy/ssh-action@v1.0.3
  with:
    host: ${{ secrets.DEPLOY_HOST }}
    username: ${{ secrets.DEPLOY_USERNAME }}
    key: ${{ secrets.SSH_PRIVATE_KEY }}
    script: |
      echo "Starting Deployment..."

      cd /home/rojgariindia.com/app/release

      npm install --omit=dev

      if pm2 list | grep -q "rojgari-next"; then
        pm2 reload rojgari-next --update-env
      else
        pm2 start ./start.sh --name rojgari-next --interpreter bash
      fi

      pm2 save
      sudo systemctl restart lsws
      echo "Deployment Done!"
